// ? -- standard
.h1 {
  font-size: rem($h1-font-size);
  line-height: $h1-line-height;
}

.h2 {
  font-size: rem($h2-font-size);
  line-height: $h2-line-height;
}

.h3 {
  font-size: rem($h3-font-size);
  line-height: $h3-line-height;
}

.h4 {
  font-size: rem($h4-font-size);
  line-height: $h4-line-height;
}

.h5 {
  font-size: rem($h5-font-size);
  line-height: $h5-line-height;
}

.h6 {
  font-size: rem($h6-font-size);
  line-height: $h6-line-height;
}

// ? custom typography
.heading {
  position: relative;
  padding: 0;
  color: $color-heading;
  hyphens: auto;
  word-break: break-word;
  text-transform: uppercase;

  //? Default font-family until webfonts are loaded
  .no-fonts & {
    font-family: $system-sans-font-stack;
  }
}

.link {
  position: relative;
  display: inline;
  vertical-align: middle;
  background-image: linear-gradient(currentcolor, currentcolor);
  background-position: center 100%;
  background-size: 0 1px;
  background-repeat: no-repeat;
  color: $color-link;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: transition-custom();
  transition-property: all;

  &:hover {
    color: $color-link-hover;
  }

  &--active {
    color: $white;
  }

  &-type {
    &-inverted {
      background-size: 100% 1px;

      &:hover {
        background-size: 0 1px;
        color: currentcolor;
      }
    }
  }
}

.text {
  @include font-colors();

  color: $color-text;
  font-size: rem($body-font-size);
  font-weight: $medium;
  line-height: $body-line-height;

  //? Default font-family until webfonts are loaded
  &-no-fonts & {
    font-family: $system-sans-font-stack;
  }

  &-no-wrap {
    white-space: nowrap;
  }

  &-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .link {
    vertical-align: baseline;
    line-height: inherit;
    outline: none;
  }

  &-type {
    &-transparent {
      opacity: 0.6;
    }
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;

  &-style {
    &-roman {
      list-style-type: upper-roman;

      .list__item {
        &::before {
          text-align: left;
        }
      }
    }
  }
}

.quote {
  color: $color-primary;
  font-family: $serif-font-stack;
  font-style: italic;
}

.code {
  width: 100%;
  padding: rem(10px) rem(30px);
  background-color: $color-background-dark;

  code {
    color: $white;
    font-family: $mono-font-stack;
  }
}
