{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "prettier",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:react/jsx-runtime"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "rules": {
    // ? Best practice rulesZ
    "no-underscore-dangle": 0,
    "prefer-destructuring": 1,
    "no-shadow": "off",
    "no-param-reassign": 0,
    "react/jsx-tag-spacing": 1,
    "react/function-component-definition": 1,
    "react/jsx-indent": 1,
    "arrow-body-style": 1,
    "react/jsx-no-useless-fragment": 1,
    "implicit-arrow-linebreak": 0,
    "camelcase": 0,
    "quotes": 1,
    "react/self-closing-comp": 1,
    "no-trailing-spaces": 1,
    "react/button-has-type": "off",
    "semi": "off",

    // ? React
    "import/order": 1,
    "import/no-unused-modules": [1, { "unusedExports": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".jsx", ".tsx"] }],
    "import/extensions": [1, "never", { "svg": "always" }],
    "react/jsx-boolean-value": 1,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-curly-brace-presence": [1, "never"],
    "react/no-unescaped-entities": ["error", { "forbid": [">", "}"] }],
    "react/prop-types": 2,
    "react/require-default-props": "off",
    "import/prefer-default-export": 0,
    "react-hooks/exhaustive-deps": "warn",
    "import/no-named-as-default": "off",

    // ? Typescript
    "@typescript-eslint/no-use-before-define": 2,
    "@typescript-eslint/type-annotation-spacing": 2,
    "@typescript-eslint/no-non-null-assertion": "warn",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/semi": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": [
          ["@images", "./src/assets/images"],
          ["@icons", "./src/assets/icons"],
          ["@components", "./src/components"],
          ["@constants", "./src/constants"],
          ["@contexts", "./src/contexts"],
          ["@hooks", "./src/hooks"],
          ["@styles", "./src/styles"],
          ["@utils", "./src/utils"]
        ],
        "extensions": [".ts", ".tsx", ".js", ".jsx"]
      }
    }
  }
}
