//? ---Base formats
$base-font-size: 100%;
$base-font-size-px: 16px;

$default-font-size: 19px;
$default-font-weight: 200;
$default-line-height: 1.5;

$body-font-size: 19px;
$body-line-height: 1.5;

$h1-font-size: 40px;
$h1-line-height: 1.5;

$h2-font-size: 34px;
$h2-line-height: 1.5;

$h3-font-size: 30px;
$h3-line-height: 1.5;

$h4-font-size: 27px;
$h4-line-height: 1.5;

$h5-font-size: 24px;
$h5-line-height: 1.5;

$h6-font-size: 21px;
$h6-line-height: 1.5;

//? Sizes
$size-xs: rem(12px);
$size-sm: rem(14px);
$size-base: rem(16px);
$size-lg: rem(18px);
$size-xl: rem(20px);
$size-2xl: rem(24px);
$size-3xl: rem(30px);
$size-4xl: rem(34px);
$size-5xl: rem(40px);
$size-6xl: rem(44px);
$size-7xl: rem(50px);
$size-8xl: rem(54px);
$size-9xl: rem(60px);
